.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    z-index: 1;

    width: 37.5vw;

    padding: 40px 40px 0 40px;

    background: rgba(28, 28, 33, 1);
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
    position: relative;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.title p {
    flex-grow: 2;
    z-index: 1;
}

.title button {
    display: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    flex-grow: 0.5;
    z-index: 1;
}
