.FeedListCard {
    padding: 24px;
    width: 524px;
    background: #1c1c21;
    border-radius: 40px;
    margin-right: 10px;
}

.NumberAndDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IngredientsAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IngredientsAndPrice .Price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
}
