.details {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.ingredientName {
    width: 100%;
    text-align: center;
}

.compound {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.compoundItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}