

::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color:  rgba(47, 47, 55, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(133, 133, 173, 1);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}


