.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 50px 50px 0 50px;
}

.Title {
    display: flex;
}

.ContentWrapper {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
}

.FeedsWrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}
