.container {
    
    max-height: 43vh;
    overflow-y: scroll;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.BurgerPartWrapper {
    display: flex;
    align-items: center;
}
